html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    }
  body{font-family:sans-serif;margin:0 auto;background-color: #E5D9F2;}
  header{margin-top: 10px;width:100%}
  header img{display:block ; height:150px;position:relative; left:120px; padding-bottom: 10px; }
  /* nav */
  .nav1>li{display:inline-block; margin:0 auto; padding:0px 30px ;font-size: 1.7em;font-weight: bold;}
  .nav1{ position: absolute;right:40px;top:60px ; }
  .nav2{background-color: #7371FC; font-size: 20px;line-height:30px;text-align: center;letter-spacing:5px; font-weight: bold;}
  .nav2>span{letter-spacing:2px;}
  /* nav */ 
 .img{max-width : 100%; overflow: hidden;}
 main{width: 1000px;background-color: #CDC1FF ;
  margin: 0 auto; margin-top: -5px;}
li{list-style: none;margin: 0;padding: 0;margin-top:10px;background-color: #E5D9F2;margin-bottom:10px;}

a:link{color:black}
a:visited{color:black}



.flex-video{display:flex; width: 1000px;
  justify-content: space-around; align-items: flex-start;flex-wrap:wrap;}

  .box1 img{width:300px;height: 175px;}
  h2,p{width: 300px; margin:0 auto;padding: 5px;}
  h2{font-weight: bold;}
  
  
  /* .box1{width:300px;height: 175px;background-color:white;border:2px solid black;} */
  /* 圖片和文字的地方 */
footer{background-color: #E5D9F2}
.end{display:flex;justify-content: center;}
footer div:last-child{text-align: center;padding-top: 10px;}
.end>li>img{width:48px;height: 48px;margin: 0 30px 10px 30px;}
