html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    }
  body{font-family:sans-serif;margin:0 auto;}
  header{background-color: aquamarine;margin-top: 20px;}
  header img{display:block ; height:150px;position:relative; left:120px; }
  /* nav */
  .nav1>li{display:inline-block; margin:0 auto; padding:0px 30px ;font-size: 1.7em;font-weight: bold;border : 1px solid yellow;}
  .nav1{ position: absolute;right:40px;top:85px}
  .nav2{background-color: green; font-size: 20px;line-height:30px;text-align: center;letter-spacing:5px;}
  .nav2>span{letter-spacing:2px;}
  /* nav */ 
 .img{max-width : 100%;}
 main{width: 980px;background-color: yellow;margin: 0 auto;}
li{list-style: none;margin: 0;padding: 0;}

.flex-video{display: flex;flex-direction: row;}