html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    }
  body{background-color:red;font-family:sans-serif;}
  header{background-color: aquamarine;margin: 30px 30px 0 30px ;}
  header img{display:block ; height:150px;position:relative; left:120px }
  /* nav */
  .nav1>li{display:inline-block; margin:0 auto; padding:0px 30px ;font-size: 1.7em;font-weight: bold;border : 1px solid yellow;}
  .nav1{ position: absolute;right:40px;top:90px}
  .nav2{background-color: green; font-size: 20px;line-height:30px;text-align: center;letter-spacing:5px;}
  .nav2>span{letter-spacing:2px;}
  /* nav */

  /* 輪播 */

  .carousel1{width:600px;height: 280px;
    /* list-style:none;margin:0;padding: 0;position: relative; */
    background-color: rgba(122, 98, 98, 0.904);}
    li img{width: 600px; height: 280px;}


    /* ul.slides{margin: 0;
      padding: 0;
      width: inherit; /* inherit指繼承父層 */
      /* height: inherit;position: absolute;
      /* top: 0;left: 0;  display: flex; */
      /* justify-content: center;align-items: center;
        overflow: hidden; transition: .5s transform ease-in-out;} */ */
      /* .slides-單張輪播 position: absolute;top: 0; left: 0使其輪播圖重疊*/
      .slide:nth-of-type(1) {
        background-color: #F2E205; */
      }
      
      .slide:nth-of-type(2) {
        left: 100%;
      }
      
      .slide:nth-of-type(3) {
        left: 200%;
      }
      /* .slide :nth-of-type(nuber)left 100%和 200%三張照片並列-在  .slides加入
      (display: flex;justify-content: center;align-items: center查一下是否有需要)
      overflow: hidden 隱藏2.3突出的地方*/

      /* 按鈕(目前前面有設定overflow: hidden因此有隱藏，要暫時加入) */
      input[type="radio"] {
        position: relative;
        z-index: 100;
        display: none;}

        .controls-visible {
          position: absolute;
          width: 100%;
          bottom: 12px;
          text-align: center;
        }
        
        .controls-visible label {
          display: inline-block;
          width: 10px;
          height: 10px;
          background-color: #fff;
          border-radius: 50%;
          margin: 0 3px;
          border: 2px solid #fff;}
        /*  設定輪播下方的圖示，使其對應radio圖示 */
        
        /*.slides input[type="radio"]:nth-of-type(X):checked  
        判斷當按鈕被選擇時 加入~符號找到同一層後 選擇第X個label*
        ~.controls-visible label:nth-of-type(X) label即可對應按鈕，使其使用*/
        .slides input[type="radio"]:nth-of-type(1):checked ~ .controls-visible label:nth-of-type(1) {
          background-color: #333;
        }
        
        .slides input[type="radio"]:nth-of-type(2):checked ~ .controls-visible label:nth-of-type(2) {
          background-color: #333;
        }
        
        .slides input[type="radio"]:nth-of-type(3):checked ~ .controls-visible label:nth-of-type(3) {
          background-color: #333;
        }
        /* 設定輪播效果
        slides input[type="radio"]:nth-of-type(1):checked ~ .slide {
        transform: translatex(0%);當選中按鈕時，
        後面的.slide樣式會因應按鈕向左特定距離移定*/

        slides input[type="radio"]:nth-of-type(1):checked ~ .slide {
          transform: translatex(0%);
        }
        
        .slides input[type="radio"]:nth-of-type(2):checked ~ .slide {
          transform: translatex(-100%); /*負值:向左移動 1倍*/
        }
        
        .slides input[type="radio"]:nth-of-type(3):checked ~ .slide {
          transform: translatex(-200%); /*負值:向左移動 2倍*/
        }
        /* 設定好後回到 涵蓋選擇器加入 transition: .5s transform ease-in-out; */